.find{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 40px;
  margin-bottom: 30px;
  h1{
    line-height: 40px;
    font-size: 32px;
  }
  svg{
    margin-left: 18px;
  }
  &__input{
    margin-left: 14px;
    border: none;
    height: 38px;
    font-size: 14px;
    font-weight: 400;
    cursor: text;
    outline:none;
    &::placeholder{
      color: #C4C4C4;
    }
  }
  &__wrapper{
    display: flex;
    align-items: center;
    width: 250px;
    height: 40px;
    border: 1px solid #F3F3F3;
    border-radius: 10px;
  }
}